<!DOCTYPE html>
<html lang="ja" xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>商品一覧 - 改</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<h3>商品一覧 - 改</h3>
	<form action="/items/view" method="get">
		<input type="text" name="keyword" placeholder="商品名" />
		<button>検索</button>
	</form>
	<table border="1">
		<tr>
			<th>商品ID</th>
			<th>カテゴリー</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.categoryName}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
		</tr>
	</table>
	<a href="/items/add">新規登録</a><br />
	<a href="/items">商品一覧へもどる</a>
</body>
</html>